<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Page</title>
</head>
<body>
    <h1>Welcome to this page</h1>
    <h3>This was made using an html template</h3>
    <div class="text-center">
        <img
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/14187ac6-98fd-4fd7-a822-f721e79c9d1c/dccf0he-9b5fbd9d-c9d6-49b1-8d8a-163dd345c76b.png/v1/fill/w_1142,h_700,q_70,strp/a_windy_day_at_kauppatori_by_agevla77_dccf0he-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03ODQiLCJwYXRoIjoiXC9mXC8xNDE4N2FjNi05OGZkLTRmZDctYTgyMi1mNzIxZTc5YzlkMWNcL2RjY2YwaGUtOWI1ZmJkOWQtYzlkNi00OWIxLThkOGEtMTYzZGQzNDVjNzZiLnBuZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ZUjxj9RD25xuoG239FXY3igtHQWz8eB1oydAlJoBC_U"
            class="rounded w-50"
        >
        <!--        first image-->
        <img
            src="/static/images/{{id1}}.jpg" width="250"
            class="img-fluid rounded"
            alt="{{ ... }}"
        >

    </div>
</body>
</html>

{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}